*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/* navbar */
header {
    position: relative;
    z-index: 9999;
    width: 100%;
    height: 114px;
}

.header span {
    font-size: 12px;
}

.navbar-brand {
    color: rgb(22, 47, 114);
    font-size: 30px;
}

.item-header-1 {
    padding: 8px 32px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

.item-header-1 .img-search {
    width: 18px;
}

.item-header-1 .wrap-search {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.item-header-1 .wrap-search .form-control {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    z-index: 1;
}

.item-header-1 .wrap-search .form-control ::placeholder {
    color: #cdcdcd;
    font-size: 14px;
}

.item-header-1 .wrap-search .form-control:focus {
    box-shadow: none;
    border: 1px solid #0673f0;
}

.item-header-1 .wrap-search .wrap-icon-search {
    background-color: #f3f4f5;
    position: absolute;
    right: 0;
    height: 100%;
    width: 4%;
}

.item-header-1 .wrap-search .wrap-icon-search .img-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-image-width: 100%;
}

header .btn{
    border-radius: 20px;
    font-size: 17px;
    background-color: #0673f0;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 45px;
}
/* Profil pengunjung */
.login-navbar .nav_right > ul{
	display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 15px;
}

.login-navbar .nav_right ul li.nr_li{
	margin-left: 25px;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	position: relative;
}

.login-navbar .nav_right ul li.nr_li:hover {
    color: #cefffc;
}

.login-navbar .nav_right ul li img{
	width: 35px;
	vertical-align: middle;
}

.login-navbar .dd_menu {
    position: absolute;
    width: 230px;
    right: -25px;
    top: 47px;
    display: flex;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    display: none;
}

.login-navbar .dd_menu .dd_left{
	background: #b3b6b5;
	padding: 15px 20px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.login-navbar .dd_menu .dd_left li{
	color: rgb(102, 97, 97);
}

.login-navbar .dd_menu .dd_right{
    display: inline;
    width: 90%;
	padding: 15px 20px;
}

.login-navbar .dd_menu .dd_right a{
    text-decoration: none;
    color: #868686;
}

.login-navbar .dd_menu .dd_right a:hover{
    color: black;
}

.login-navbar .dd_menu li{
	margin-bottom: 10px;
	color: #868686;
}

.login-navbar .dd_menu:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 30px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
}

.login-navbar .dd_main.active .dd_menu{
	display: flex;
}
/* akhir  profil */
.header h6{
    width: 100%;
}

.header .btn:first-child {
    background-color: #ffffff;
    border: 1px solid #0673f0;
    color: #0673f0;
}


.justify-content-around {
    margin-left: 35%;
    margin-right: 35%;
}

.justify-content-around span:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(68, 78, 71, 0.692) !important;
    border-radius: 5px;
    width: auto;
    height: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.modal {
    z-index: 9999;
}

.modal-content {
    top: 56px;
    right: 147px;
    padding: 19px;
    width: 150%;
    border-radius: 0;
    border: none;
}

.m-c-head span {
    color: #818181;
}

.m-c-head tittle {
    color: #7b7b7b;
}

/* Caraousel Style */
.isi{
    margin-left: 10%;
    margin-right: 10%;
}
.carousel {
    position: relative;
    top: 36px;
    width: 1219px !important;
    max-width: 100%;
    height: 342px;
    margin-right: auto;
    margin-left: auto;
}

.carousel-inner {
    width: 95%;
    border-radius: 20px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border-bottom: 0;
    border-top: 0;
}
/* card */
.pilihan-barang .wrapper{
    margin-top: 4%;
    padding-left:30px;
    padding-right: 30px;
	max-width: 100%;
	display: flex;
	align-items: center; 
	justify-content: space-between;
}
.pilihan-barang .wrapper .card {
    position: relative;
    ;
	width: calc(20% - 50px);
	border-radius: 3px;
	background: #fff;
	overflow: hidden;
}
.pilihan-barang .wrapper .card img{
    max-width: 100%;
    width:100%;
    height: 100%;
	border-radius:3px;
	transition: all 0.3s ease;
}
.pilihan-barang .wrapper .card:hover img{
	transform: scale(1.1) ;
}
.pilihan-barang .wrapper .card .content{
	position: absolute;
    width: 100%;
    height: 60%;
    background: #fff;
	bottom: -90%;
	padding: 10px 20px 22px 20px;
	box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease;
}
.pilihan-barang .wrapper .card:hover .content{
	bottom: 0;
}

.pilihan-barang .card .content .buttons{
	display: flex;
	justify-content: space-between;
}
.pilihan-barang .content .row .details span{
	font-size: 22px;
	font-weight: 500;
}
.pilihan-barang .content .row .details p{
	color :#333;
	font-size: 17px;
	font-weight: 400;
}
.pilihan-barang .content .row .price{
	color: #ff7979;
	font-size: 20px;
    font-weight: 600;
    max-width: 100%;
    padding-left: 27px;
}
.pilihan-barang .content .buttons{
	margin-top: 20px;
}
.pilihan-barang .content .buttons button{
    margin-top: -10px;
    width: 100%;
	outline: none;
	padding: 5px 0 ;
	font-size: 17px;
	font-weight: 500;
	border-radius: 3px;
	border: 2px solid #ff7979;
	cursor: pointer;
	margin-bottom: 10px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.pilihan-barang .buttons button:first-child{
	color: #ff7979;
	background: #fff;
	margin-left: 10px;
	margin-right: 10px;
}
.pilihan-barang button:first-child:hover{
	color: #fff;
	background: #ff7979;
}
.pilihan-barang .buttons button:last-child{
	color: #fff;
	background: #ff7979;
	margin-right: 10px;
	margin-left: 10px;
}
.pilihan-barang button:last-child:hover{
	background: #ff6666;
	border-color: #ff6666;
}
/* akhir card */
/* tampilkan lebih banyak */
.btn-green {
    color: #465047c4;
    border: 1px solid #465047c4;
    background-color: transparent;
    padding: 10px 70px;
    font-size: 20px;
}
/* footer */
.footer-ku .card-footer {
    margin-top: 50px;
    margin-bottom: auto;
}

.footer-ku .card-body {
    margin-left: auto;
    margin-right: auto;
}

.footer-ku .card-footer .card-body {
    max-height: 200px;
}

.footer-ku .card-footer .card-body img {
    width: 5%;
    height: 5%;
}

.footer-ku .card-footer .card-body a img {
    padding: 10px;
}